footer{
    padding-bottom: 10px;
    padding-top: 2px;
}

a, p, h1, h2, h3, h4, h5, h6{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.banner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.success {
    background: lightgreen;
    color: black;
}
.error {
    background: red;
    color: white;
}
.empty {
    display: none;
}
.status {
    margin: 0 auto;
    padding: 10px;
}